  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav id="main-nav-bar">
    <div id="logo-appname-container">
      <a href="/">
        <img id="nav-logo"src="/assets/images/lvlUpLogo.png"alt="lvlUpLogo"height="100"width="100">
      </a>
      <a href="/">
        <div id="nav-app-name">
          lvlUpLog
        </div>
      </a>
    </div>
    <div id="profile-username-avatar">
      <% if (user) { %>
        <a id= "profile-username"href="/profiles/<%= user.profile._id %>">
          <%= user.profile.name %>
        </a>
        <a href="/profiles/<%= user.profile._id %>">
          <img id="user-profile-avatar"src="<%= user.profile.avatar %>"alt="<%= user.profile.name %>s avatar"height="60"width="60">
        </a>
        <a href="/auth/logout" class="right">
          <i class="fa-solid fa-door-open"></i>
        </a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      <% } %>
    </div>
  </nav>
