<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/profiles/setfavorite.css" />
<%- include('../partials/nav') %>

  <div id="favorite-game-container">
    <div id="favorite-game-title">
      Add your recently played game!
    </div>
    <form action="/profiles/<%= profile._id %>/set-rpg" method="POST">
      <select name="genre" class="form-control" id="genre">  
        <% genres.results.forEach(genre => { %>
          <option <%= genre.name == selectedGenre ? selected="selected" : ""%> value="<%= genre.name %>"><%= genre.name %></option>
        <% }) %>
      </select>
      <button type="submit">Set Genre</button>
    </form>
    <form id="game-and-review"action="/profiles/<%= profile._id %>/new-rpg" method="POST">
      <select name="name" class="form-control" id="game">  
        <% games.results.forEach(game => { %>
          <option value="<%= game.name %>"><%= game.name %></option>
        <% }) %>
      </select>
      <div id="rating">
        <i id="star" class="fa-solid fa-star"></i>
        <input name="rating" type="number" value="5" min="1" max="5">
      </div>
      <textarea name="text" id="review" cols="30" rows="10">Review goes here!</textarea>
      <button type="submit">Add Recently Played Game</button>
    </form>
  </div>

<%- include('../partials/footer') %>