<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>

<div id="profile-intro">
  Welcome to <%= profile.name %>s Profile!
</div>
<div id="profile-content">
  <div id="profile-personal-info">
    <img id="profile-avatar"src="<%= profile.avatar %>" alt="">
    <div id="profile-name">
      <i class="fa-solid fa-person"></i>
      <%= profile.name %> 
    </div>
    <div id="profile-location">
        <i class="fa-solid fa-map-pin"></i>
      <%= profile.location %> Testville, TV TVA
    </div>
    <div id="profile-steam">
      <i class="fa-brands fa-steam"></i>
      <%= profile.steam %> Testington
    </div>
    <div id="profile-discord">
      <i class="fa-brands fa-discord"></i>
      <%= profile.discord %> Testington
    </div>
  </div>
  <div id="profile-game-info">
    <div id="profile-favorite-game-add">
      <div>
        Favorite Game:
      </div>
      <% if (profile._id.equals(user?.profile._id)) { %>
        <a href="/profiles/<%= profile._id %>/set-fav">
          <i class="fa-solid fa-circle-plus"></i>
        </a> 
      <% } %>
    </div>
    <% if (profile.favoriteGame == undefined) { %>
      There seems to be nothing here yet!
    <% } else { %>
      <div id="profile-favorite-game-details">
        <img id="favorite-game-image" src="<%= profile.favoriteGame.imageUrl %>" alt="erm" height="100" width="150">
        <div id="favorite-game-text">
          <div id="fav-name-and-rating">
            <%= profile.favoriteGame.name %>
            <i class="fa-solid fa-star"> <%= profile.favoriteGame.rating %></i>
          </div>
          <%= profile.favoriteGame.review.text %>
        </div>
      </div>
    <% } %>
    <div id="profile-recent-game-add">
      <div>
        Recently Played Games:
      </div>
      <% if (profile._id.equals(user?.profile._id)) { %>
        <a href="/profiles/<%= profile._id %>/set-rpg">
          <i class="fa-solid fa-circle-plus"></i>
        </a> 
      <% } %>
    </div>
    <% profile.recentlyPlayedGames.forEach(game => { %>
    <div id="profile-recent-game-details">
      <img id="favorite-game-image" src="<%= game.imageUrl %>" alt="erm" height="100" width="150">
    </div>
    <div id="favorite-game-text">
      <div id="fav-name-and-rating">
        <%= game.name %>
        <i class="fa-solid fa-star"> <%= game.rating %></i>
      </div>
      <%= game.review.text %>
    </div>
    <% }) %>
    
  </div>
</div>

<%- include('../partials/footer') %>