<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include('./partials/footer') %>
